#criarPagina {
    margin: 2% 5% 0 57%;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
}

#criarPLINK {
    /*Definindo uma cor e estilização diferentes para o link do texto*/

    color: #1877f2;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

#criarPLINK:hover {
    text-decoration: underline;
}
@media (max-width: 1150px){
 #criarPagina{
    margin: 2% 5% 0 11%;
    width: 41%;
    font-size: 20px;
 }
 #criarPLINK{
    font-size: 20px;
 }
}
@media (max-width: 710px) {
    #criarPagina{
        display: none;
    }
}