footer {
    width: 77%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaLinguas,
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
}

.destaqueFooter {
    padding-top: 1.7%;
    color: #ffffff81;
    font-size: 12px;
    background-color: rgb(24, 24, 24);
    padding-left: 18%;
}

.stroke:nth-child(2) {
    margin: 1% 0 1% 0;
}

a {
    color: #ffffff81;
    text-decoration: none;
}